APP_FILE=app.py
APP_MODULE=app.app
JS_AUTH_TOKEN=Token <token from Jumpstart>
SLACK_BOT_TOKEN=<slack bot token>
SLACK_SIGNING_SECRET=<slack signing secret>
SLACK_ANNOUNCEMENT_CHANNELS=C04S6SNCS,GTDAHFJCB #announcements and jumpstart-announcements
